<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">The page you tried to visit is missing!</h1>
        <hr />
        <a class="btn btn-custom" asp-controller="Home" asp-action="Index">Home Page</a>
    </div>
</div>
