<h1>Email Confirmation</h1>
<div>
    <div class="col-md-12 alert alert-success">
        <span>
            Thank you for confirming your email. You can now log in here:
        </span>
        <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Login">
            <i class="bi bi-box-arrow-in-right"></i> Log in
        </a>
    </div>
</div>
