<h1>ConfirmEmail</h1>
<div>
    <p>
        Thank you for confirming your email. You can now log in here:
    </p>
    <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Login">
        <i class="bi bi-box-arrow-in-right"></i> Log in
    </a>
</div>
