<h1>Registration successful</h1>
<div>
    <div class="col-md-12 alert alert-info">
        <span>
            Please check your email address for confirmation.
        </span>
        <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Home" asp-action="Index">
            <i class="bi bi-box-arrow-in-right"></i> Home Page
        </a>
    </div>
</div>
