@{
    ViewData["Title"] = "Home Page";
}

<h1>This is the Global Twitch API utility page!</h1>

<p>
    Here you can find all the different panels for basic twitch information.
    For this page you do not need to sign into your Twitch account.
    If you want to enable special functionality just for your channel, you
    need to choose the privilege levels, sign in via your twitch credentials
    and allow our web app access.
</p>
