@{
    ViewData["Title"] = "Home Page";
}

<h1>This is the Global Twitch API utility page!</h1>

<p>
    Here you can find all the different panels for basic twitch information.
    For this page you do not need to sign into your Twitch account.
    If you want to enable special functionality just for your channel, you
    need to choose the privilege levels, sign in via your twitch credentials
    and allow our web app access.
</p>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card text-md-center align-content-center" style="width: 18rem;">
                <img src="https://discuss.dev.twitch.tv/uploads/default/original/2X/c/c3e989328e77a8c52f5c645171f01ee95615fd21.png" class="card-img-top" alt="Twitch Developer Forums">
                <div class="card-body">
                    <h5 class="card-title">Twitch Docs</h5>
                    <p class="card-text">A quick overview of scopes that are available to user accounts.</p>
                    <a href="https://dev.twitch.tv/docs/authentication#scopes" class="btn btn-primary stretched-link">Visit</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-md-center align-content-center" style="width: 18rem;">
                <img src="https://discuss.dev.twitch.tv/uploads/default/original/2X/c/c3e989328e77a8c52f5c645171f01ee95615fd21.png" class="card-img-top" alt="Twitch Developer Forums">
                <div class="card-body">
                    <h5 class="card-title">Twitch Docs</h5>
                    <p class="card-text">A quick overview of scopes that are available to user accounts.</p>
                    <a href="https://dev.twitch.tv/docs/authentication#scopes" class="btn btn-primary stretched-link">Visit</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-md-center align-content-center" style="width: 18rem;">
                <img src="https://discuss.dev.twitch.tv/uploads/default/original/2X/c/c3e989328e77a8c52f5c645171f01ee95615fd21.png" class="card-img-top" alt="Twitch Developer Forums">
                <div class="card-body">
                    <h5 class="card-title">Twitch Docs</h5>
                    <p class="card-text">A quick overview of scopes that are available to user accounts.</p>
                    <a href="https://dev.twitch.tv/docs/authentication#scopes" class="btn btn-primary stretched-link">Visit</a>
                </div>
            </div>
        </div>
    </div>
</div>
