@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Click below to log in.</h1>
    <p>
        Login <a href="https://id.twitch.tv/oauth2/authorize?response_type=code&client_id=1uwdj9owa71a5prb3crveucdval8hp&redirect_uri=https://localhost:44367/Home/Redirection&scope=user:read:follows&state=2yj97dk1uikb6f2ykkpj608rbx4u18">Here</a>.
    </p>
</div>
