@using TwitchAPI.Models
@model Scope
@{
    ViewData["Title"] = "Privilege setup";
}

<div class="text-center">
    <h1 class="display-4">Please select all scope parameters to give this app access to:</h1>

    <form class="form-inline my-2 my-lg-0" asp-controller="Home" asp-action="Registration" style="padding-right: 25px;">
        @foreach (var item in Enum.GetValues(typeof(Scope)))
        {
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="@Enum.GetName(typeof(Scope), item)">
                <label class="form-check-label" for="@Enum.GetName(typeof(Scope), item)">@Enum.GetName(typeof(Scope), item).Replace('_', ':');</label>
            </div>

        }
        <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i>Submit and Login</button>
    </form>
</div>
