<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>We have sent an email to your Mail account.</h2>
        <p>
            Please go into your email and click the link for new password generation. The link will be valid for 2 hours.
        </p>
        <hr />
        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</div>
