<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Your password has been reset.</h2>
        <p>
            Please click <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="Login">here</a> to go to log in.
        </p>
    </div>
</div>
